@import "styles/variables";

.header {
    transition: all 100ms;
    height: 100vh;
    background-color: $menu_color;
    width: 230px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 6%;
    padding-top: 5px;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;

    .hambuger__button {
        cursor: pointer;
        height: 35px;
        font-size: 16px;
        width: 35px;
        align-self: flex-start;
        margin-left: 15px;
        color: $button_color;
    }

    .hambuger__button-active {
        display: none;
    }

    .hambuger__button-desative {
        display: block;
    }

    .user {
        width: 90%;
        text-align: center;

        img {
            height: 160px;
            width: 160px;
            margin-bottom: 8px;
            border-radius: 100px;
        }

        .user__info {
            background-color: rgba(0, 0, 0, 0.15);
            display: grid;
            grid-template-columns: auto 35px;
            padding: 2px 5px;
            height: 35px;
            align-items: center;
    
            p {
                padding: 0 .3em;
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                text-align: center;
                font-size: 21px;
                color: $text_color;
            }
    
            a {
                background-color: $button_color;
                height: 35px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                .edit__icon {
                    width: 25px;
                    height: 25px;
                    color: $text_color;
                }
            }
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }

    .spotify__image__container {
        width: 90%;
        margin: 0 auto;
        margin-top: 1rem;

        img {
            width: 100%;
        }

        p {
            color: $text_color;
            text-align: center;
            writing-mode: vertical-rl;
            text-orientation: upright;
            margin: 0 auto;
            margin-top: 1rem;
            word-spacing: 7px;
        }
    }
}

.header-desactive {
    transition: all 100ms;
    width: 50px;

    .hambuger__button {
        align-self: center;
        margin: 0;
    }

    .hambuger__button-active {
        display: block;
    }

    .hambuger__button-desative {
        display: none;
    }

    .user {
        width: 42px;
        img {
            width: 42px;
            height: 42px;
        }

        .user__info {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;

            a {
                display: none;
            }
        }
    }

    .links {

        a {
            border-radius: 100px;

            span {
                display: none;
            }

            svg {
                display: block;
                width: 25px;
                height: 25px;
                color: $text_color;
            }
        }
    }
}