@import "styles/variables";

.recomendations {
    width: 80%;
    border: 2px solid $button_color;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    height: 100px;
    overflow: hidden;

    .slider {
        display: flex;
        align-items: center;
        margin: 0;
        text-decoration: none;
        list-style: none;
        padding: 0;
        height: 100%;

        li {
            width: 184px;
            height: 100px;
        }
    }
}