@import "styles/variables";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;

    .label {
        background-color: $menu_color;
        color: $text_color;
        padding: 6px 3px;
        width: 100%;
        border: 2px solid $menu_color;
    }

    .input {
        cursor: pointer;
        height: 35px;
        width: 100%;
        padding: 2px 3px;
        box-shadow: none;
        border: 2px solid $button_color;
        border-top: none;
    }
}