$background_color: rgb(236, 236, 236);
$menu_color: black;
$button_color: green;
$text_color: white;
$music_background_color: black;

$input_gap: 12px;

$library_max_width: 400px;
$library_img_size: 300px;
$library_img_size_mobile: 125px;
$library_height: 410px;
$library_height_mobile: 150px;