@import "styles/variables";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label {
        background-color: $menu_color;
        color: $text_color;
        border: 2px solid $menu_color;
        padding: 2px 3px;
        flex-grow: 1;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .select {
        cursor: pointer;
        border: 2px solid $button_color;
        border-left: none;
        padding: 0;
        min-width: 25%;
        height: 35px;
    }
}